.logo_flc{
  height: 150px;
}

#contact{
  margin-bottom:20px;
}

#copyright{
  font-size: 0.8em;
}

h2{
  color: #B29C7D !important;
}

@media only screen and (min-width: 768px) {
    .logo_flc{
      height: 300px;
    }
}
